* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html, body {
  height: 100%;
  width: 100%;
}

#page1{
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2{
  height: 100%;
  width: 100%;
  background-color: rgb(69, 201, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

#page3{
  height: 300%;
  width: 100%;
  background-color: rgb(16, 147, 190);
  display: flex;
  align-items: center;
  justify-content: center;
}

#box{
  height: 200px;
  width: 200px;
  background-color: crimson;
}
#page2 #box {
  display: none;
}

h1 {
  font-size: 60px;
  position: relative;
  background-color: red;
  padding: 10px;
}

h2 {
  font-size: 60px;
  padding: 10px;
  position: relative;
  background-color: yellow;
}