@font-face {
    font-family: china;
    src: url(./NeueMachina-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

#page1, #page2, #page3 {
    height: 100%;
    width: 100%;
}

#move {
    background-color: lawngreen;
    display: flex;
    justify-content: center;
    padding: 3vw 0;
}

.marque {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0, 1.5vw;
}

.marque h1{
    font-size: 35px;
    font-family: china;
    padding-top: 7px
}

.marque img {
    height: 40px;
}